{% extends 'core/base.html' %}
{% load static %}
{% block title %}Contacto{% endblock %}

{% block content %}
<section class="page-section contact-section">
  <div class="container">
    <div class="contact-content">

      <!-- Right: Form and Heading -->
      <div class="contact-form">
        <h2 class="section-heading">
          <span class="section-heading-upper">ENVÍANOS TUS PEDIDOS</span>
          <span class="section-heading-lower">Contacto</span>
        </h2>
        {% if 'ok' in request.GET %}
          <p class="form-message success">Su mensaje se ha enviado correctamente, en breve nos pondremos en contacto.</p>
        {% endif %}
        {% if 'fail' in request.GET %}
          <p class="form-message error">El mensaje no se ha enviado, por favor, inténtelo de nuevo.</p>
        {% endif %}
        
        <!-- Contact Form -->
        <form action="" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Nombre *</label>
            <div class="input-group">
              {{ form.name }}
            </div>
            {{ form.name.errors }}
          </div>
          <div class="form-group">
            <label for="email">Email *</label>
            <div class="input-group">
              {{ form.email }}
            </div>
            {{ form.email.errors }}
          </div>
          <div class="form-group">
            <label for="message">Mensaje *</label>
            <div class="input-group">
              {{ form.content }}
            </div>
            {{ form.content.errors }}
          </div>
          <div class="text-center">
            <input type="submit" value="Enviar" class="btn btn-primary">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}