{% extends 'core/base.html' %}

{% load static %}

{% block title %}NOSOTROS | the orange copy{% endblock %}

{% block content %}
<section class="page-section about-us">
  <div class="about-content">
    <h3 class="section-heading-upper">SOMOS PROFESIONALES</h3>
    <h1 class="section-heading-lower">somos NOSOTROS</h1>
    <p>
      Negocio fundado en 1999 para ofrecer una calidad y un servicio más especializado en el sector de la impresión digital en pequeño y gran formato.
    </p>
    <p>
      Dedicación y constancia en el trabajo nos ha hecho crecer cada vez más, agradeciendo a todos nuestros clientes que han sabido diferenciar la calidad y rapidez de nuestros servicios especializados en el sector de la impresión digital en pequeño y gran formato.
    </p>
  </div>
  <div class="about-image">
    <img src="{% static 'core/img/about_me.png' %}" alt="About Us">
  </div>
</section>
{% endblock %}