{% extends 'core/base.html' %}
{% load static %}
{% block title %}Blog{% endblock %}

{% block content %}
{% for post in posts %}
    <section class="page-section blog-entry">
        <div class="container">
            <div class="row">
                <!-- Left: Text Content -->
                <div class="col-md-7 text-content">
                    <h2 class="section-heading">
                        <span class="section-heading-upper">{{ post.published|date:"SHORT_DATE_FORMAT" }}</span>
                        <span class="section-heading-lower">{{ post.title }}</span>
                    </h2>
                    <p class="post-content">
                        {{ post.content|linebreaks }}
                    </p>
                    <p class="post-meta">
                        Publicado por <em><b>{{ post.author }}</b></em> en
                        {% for category in post.categories.all %}
                            <a href="{% url 'category' category.id %}" class="category-link">{{ category.name }}</a>
                        {% endfor %}
                    </p>
                </div>

                <!-- Right: Image -->
                {% if post.image %}
                <div class="col-md-5 image-container">
                    <img src="{{ post.image.url }}" alt="Post Image" class="img-fluid rounded">
                </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endfor %}
{% endblock %}